@tailwind base;
@tailwind components;
@tailwind utilities;

.mockup-code {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  min-width: 18rem;
  border-radius: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  @apply bg-slate-100 text-slate-800;
}
.mockup-code pre span {
  content: attr(data-prefix);
  display: inline-flex;
  text-align: left;
  @apply size-5 rounded-full relative border-2 border-white;
}

.mockup-code pre {
  padding-bottom: 0.75rem;
  @apply flex items-center;
}
.mockup-code pre:before {
  content: "";
  margin-right: 2ch;
}

.mockup-code code {
  line-height: 1.7;
  padding-left: 1rem;
}

.custom-picker .rcp-fields-floor {
  display: flex;
}
